.col-md-6{
    text-align: center;
    
}

.padre{
    margin: 10px;
     border: 10px;
     padding: 20px;
    
}

.hijo{
    display: inline-block;
     margin: 10px;
     border: 10px;
     width: 135px;
     height: 100px;
     padding: 20px;
}

.foto{
    width: 150px;
    height: 150px;
    border-radius: 150px;
    margin:20px;
}


.col-md-12{
    text-align: center;

}

.col-md-4{
    background: red;
    padding:0 5px 0 5px;
   text-align: center;

    
}



