@font-face {
  font-family: Sacramento;
  src: url(Sacramento-Regular.ttf);
}
@font-face {
  font-family: JosefinSans;
  src: url(JosefinSans-VariableFont_wght.ttf);
}



body{
background: #ee9ca7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.col-md-6{
    text-align: center;
    
}

.padre{

    margin: 20px;
     border: 10px;
     padding: 20px;
    
}

.hijo{
    display: inline-block;
     margin: 1px;
     border: 1px;
     width: 135px;
     height: 150px;
     padding: 20px;
     
}

.circular--landscape {
    margin-top: 15px;
  display: inline-block;
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

.circular--landscape img {
  width: 100%;
  height: auto;
  margin-left: -1px;
  margin-right: 5px;
  margin-bottom: 10px;
  margin-top: -30px;
}




.col-md-12{
    text-align: center;
    height: 80px;
    width: 80px;

}

.titulo{
    font-family: JosefinSans;
    font-size: 30px;
    color: #fff;
}

.name{
    font-family: Sacramento;
    font-size: 40px;
    font-weight: bold;
}

.fab{
    color: #000;
}

p{
   font-family:JosefinSans;
   font-size: 20px;
   color: #fff;
}

.col-sm{
   text-align: center;
    padding-right: 10px !important;
    padding-left: 50px !important;
    margin: 5px;

   
   
}


.item{
    width: 300px;
    height: 200px;
    background: grey;
    
}





